html{
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #EE9A00;
}

body {
	font-family: Helvetica;
	color: white;
}

form{
	text-align: center;
	padding-top: 8px;
}

#place {
	width: 50%;
	min-width: 420px;
	height: 80px;
	text-align: center;
	background-color: rgba(200, 200, 200, .5);
	border-radius: 10px;
	margin: 10px auto;
	font-size: 4em;
	padding-top: 10px;


}

#radio_box {
	width: 50%;
	min-width: 380px;
	height: 40px;
	text-align: left;
	background-color: rgba(200, 200, 200, .5);
	border-radius: 10px;
	margin: 10px auto;
	font-weight: bold;
	padding-top: 6px;
}

#weather_box {
	width: 50%;
	min-width: 380px;
	height: 380px;
	text-align: left;
	background-color: rgba(200, 200, 200, .5);
	border-radius: 10px;
	margin: 10px auto;
	font-size: 1.2em;
	font-weight: bold;
}

#com_box {
	width: 50%;
	min-width: 380px;
	height: 70px;
	text-align: left;
	background-color: rgba(200, 200, 200, .5);
	border-radius: 10px;
	margin: 10px auto;
	padding-top: 6;
	color: red;
}

table{
	padding: 20px;

}

.hidden{
	display: none;
}

#alert{
	padding: 10px;
	text-align: center;
}

#address{
	min-width: 150px;
	height: 20px;
	margin-top: 5px;
}

#weatherBtn{
	margin-top: 5px;
	height: 100px !important;
}