/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"Digital-7 Mono";
	src: url("../fonts/digital-7__mono_.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}


body{
	font-family: Helvetica;
/*	background-color: #EED8AE;
*/
	background: 
    repeating-radial-gradient(
      circle at 0 0, 
      #EED8AE,
      #FFF 150px
    );
}

h1{
	font-weight: bold;
	color: red;
	-webkit-filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: gray;
	margin-top: 50px;
	padding: 20px;
	border: solid 2px black;
	border-radius: 5px;
}

#timer-house{
	height: 300px;
	margin-top: 50px;
	padding: 20px;
	border: solid 2px black;
	border-radius: 20px;
	background-color: #D1BEA8;
	-webkit-filter: drop-shadow(15px 15px 15px rgba(0,0,0,0.5));
	filter: drop-shadow(15px 15px 15px rgba(0,0,0,0.5));

}

#time{
	font-family: 'Digital-7 Mono', monospace;
	font-size: 8em;
	margin: 5px 10px 10px 10px;
	border: solid 2px black;
	border-radius: 20px;
	background-color: #8EA58B;
	-webkit-filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
}

#mode{
	width: 100px;
}

#start{
	width: 100px;

}

.btn-width{
	width: 40px;
/*	padding: -10px;
*/	margin-bottom: 5px;
/*	font-size: 1.4em;
*/	font-weight: bold;
}

