<!DOCTYPE html>
<html  ng-app="app" lang="en">
<head>
	<title>Pomodoro Clock</title>

	<!-- jQuery -->
	<!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.comjquery-migrate-1.2.1.min.js"></script> -->

	<!-- Latest compiled and minified Bootstrap -->
<!-- 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 -->	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
	<!-- Local JS -->
	<script src="clock.js"></script>


	<!-- Setup CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- Google font -->
	<link href="http://fonts.googleapis.com/css?family=Orbitron:500" rel="stylesheet" type="text/css">
	<!-- local css -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	

	<div class="container" ng-controller="TimeCtrl">
		<div class="clock row col-md-6 col-md-offset-3 text-center">
			<h1>Pomodoro Timer</h1>
				<div>
					<h3>A FreeCodeCamp Zipline</h3>
					<h5>Built with Bootstrap and AngularJS</h5>
				</div>

			<div id="timer-house">
				<div>
  					<div >
    					<p id="time">{{ clock | date:'mm:ss'}}</p>
  					</div>
				</div>
				
				<div>
					<div class="row">
  						<button type="button" class="btn btn-default btn-width" ng-click="adjustTime(-1)">-</button>
  						<input id="mode" class="btn" ng-class="workInProgress ? 'btn-danger' : 'btn-success'" type="button" ng-value="workInProgress ? 'work' : 'break'" ng-click="toggleMode()">
  						<button type="button" class="btn btn-default btn-width" ng-click="adjustTime(1)">+</button>
					</div>


					<div>
						<input id="start" class="btn" ng-class="clockIsRunning ? 'btn-danger' : 'btn-success'" type="button" ng-value="clockIsRunning ? 'stop' : 'start'" ng-click="toggleClock()">
					</div>
				</div>
			</div>
			<div style="height: 600px;"><br><p>No background images were harmed during the making of this page.</p></div>

		</div>
	</div>
	<embed src="audio/alarm.wav" autostart="false" width="0" height="0" name="sound1" enablejavascript="true">
</body>
</html>